[submodule "pkgs/django-tastypie-mongoengine"]
	path = pkgs/django-tastypie-mongoengine
	url = git://github.com/mitar/django-tastypie-mongoengine.git
[submodule "pkgs/django-rest-framework"]
	path = pkgs/django-rest-framework
	url = git://github.com/tomchristie/django-rest-framework.git
[submodule "pkgs/django-pdb"]
	path = pkgs/django-pdb
	url = git://github.com/tomchristie/django-pdb.git
[submodule "pkgs/django-breadcrumbs"]
	path = pkgs/django-breadcrumbs
	url = git://github.com/chronossc/django-breadcrumbs.git
[submodule "pkgs/django-jingo-offline-compressor"]
	path = pkgs/django-jingo-offline-compressor
	url = git://github.com/peterbe/django-jingo-offline-compressor.git
[submodule "pkgs/django-allauth"]
	path = pkgs/django-allauth
	url = git://github.com/pennersr/django-allauth.git
[submodule "bootstrap/django-bootstrap-toolkit"]
	path = bootstrap/django-bootstrap-toolkit
	url = git://github.com/dyve/django-bootstrap-toolkit.git
[submodule "templates/django-jstemplate"]
	path = templates/django-jstemplate
	url = git://github.com/mjumbewu/django-jstemplate.git
[submodule "api/backbone-tastypie_2"]
	path = api/backbone-tastypie_2
	url = git://github.com/amccloud/backbone-tastypie.git
[submodule "bootstrap/jinja-bootsrap"]
	path = bootstrap/jinja-bootsrap
	url = git://github.com/auzigog/jinja-bootstrap.git
[submodule "templates/coffin"]
	path = templates/coffin
	url = git://github.com/coffin/coffin.git
[submodule "templates/pystache"]
	path = templates/pystache
	url = git://github.com/defunkt/pystache.git
[submodule "forms/django-crispy-forms"]
	path = forms/django-crispy-forms
	url = git://github.com/maraujop/django-crispy-forms.git
[submodule "debugging/django-debug-toolbar"]
	path = debugging/django-debug-toolbar
	url = git://github.com/django-debug-toolbar/django-debug-toolbar.git
[submodule "debugging/django-debug-toolbar-mongo"]
	path = debugging/django-debug-toolbar-mongo
	url = git://github.com/hmarr/django-debug-toolbar-mongo.git
[submodule "mongo/django-mongoengine"]
	path = mongo/django-mongoengine
	url = git://github.com/MongoEngine/django-mongoengine.git
[submodule "cube/cube_python"]
	path = cube/cube_python
	url = git://github.com/tophatmonocle/cube_python.git
[submodule "cube/cube"]
	path = cube/cube
	url = git://github.com/square/cube.git
[submodule "mongo/mongoengine"]
	path = mongo/mongoengine
	url = https://github.com/MongoEngine/mongoengine.git
[submodule "cli/urwid"]
	path = cli/urwid
	url = git://github.com/wardi/urwid.git
[submodule "cube/pypercube"]
	path = cube/pypercube
	url = git://github.com/sbuss/pypercube.git
[submodule "core/django-extensions"]
	path = core/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "core/django"]
	path = core/django
	url = git://github.com/django/django.git
[submodule "target/rtslib-fb"]
	path = target/rtslib-fb
	url = git://github.com/agrover/rtslib-fb.git
[submodule "target/configshell-fb"]
	path = target/configshell-fb
	url = git://github.com/agrover/configshell-fb.git
[submodule "target/targetcli-fb"]
	path = target/targetcli-fb
	url = git://github.com/agrover/targetcli-fb.git
[submodule "hw/python-udisks"]
	path = hw/python-udisks
	url = git://github.com/umago/python-udisks.git
[submodule "core/django-devserver"]
	path = core/django-devserver
	url = git://github.com/dcramer/django-devserver.git
[submodule "debugging/django_ipython_notebook"]
	path = debugging/django_ipython_notebook
	url = git://github.com/jnovinger/django_ipython_notebook.git
[submodule "debugging/django-ipython-notebook-container/django_ipython_notebook"]
	path = debugging/django-ipython-notebook-container/django_ipython_notebook
	url = git://github.com/jnovinger/django_ipython_notebook.git
[submodule "/opt/solarsanweb/vendor/debugging/django-ipython-notebook-container/django_notebook"]
	path = /opt/solarsanweb/vendor/debugging/django-ipython-notebook-container/django_notebook
	url = git://github.com/benthomasson/django_notebook.git
[submodule "drbd/drbd-manager"]
	path = drbd/drbd-manager
	url = git://github.com/djs55/drbd-manager.git
[submodule "debugging/django-ipython-container/django_notebook"]
	path = debugging/django-ipython-container/django_notebook
	url = git://github.com/benthomasson/django_notebook.git
